<h2 class="info text-center">Select a column to drop your counter</h2>
<h4 class="info text-center">Get 4 counters in a row to win!</h4>
{{!-- HTML canvas to draw game on --}}
<canvas id="stage" width="325" height="350"></canvas>
{{#if playing}}
{{#if winner}}
<div class="result">
    {{winner}} player won!
</div>
{{/if}}
{{#if draw}}
<div class="result">
    It's a draw !!
</div>
{{/if}}
<button {{action 'start' }}>Restart</button>
{{else}}
<button {{action 'start' }}>Play Connect 4</button>
{{/if}}