{{!-- Ember handlebars template --}}
{{!-- Displays main app structure using html and handlebars--}}
<section id="app">
    {{!-- app header with own design of logo added --}}
    <header>
        <img id="logo" src="assets/images/c4_logo.png" alt="Connect 4 logo" />
    </header>
    {{!-- {{outlet}} marker displays when child template content will be displayed --}}
    <article>
        {{outlet}}
    </article>
    {{!-- footer with Ember and student info --}}
    <footer>
        <div class="float-left">
            Powered by Ember
        </div>
        <div class="float-right">
            &copy; Wade Phillips 23944129
        </div>
    </footer>
</section>